#age-gate {
	overflow: hidden;
	max-height: 100px;
	z-index: 999999999;
}
#age-overlay {
	opacity: 0;
	background-color: #000;
	background-repeat: repeat;
}
#age-content {
	width: 50vw;
	max-width: 600px;
	height: 600px;
	margin-top: 820px;
	position: fixed;
	background-color: #3f006f;
	border-radius: 5px;
	padding: 1em;
	border: 1px solid silver;
}

.form1 {
	height: 600px;
	flex-direction: column;
}
.age-logo {
	width: 100%;
	img {
		width: 80%;
		height: 90%;
	}
}
.please {
	font-size: 2.5rem;
	font-weight: 700;
	font-family: cursive;
	color: silver;
	text-align: center;
	margin-bottom: 10px;
}
.responsible {
	font-size: 0.75rem;
	color: whitesmoke;
	margin-bottom: 10px;
}
.line {
	height: 1px;
	background: silver none repeat scroll 0% 0%;
}
.birth-text {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: cursive;
	color: whitesmoke;
	margin: 25px 0 10px 0;
}
.age-picker {
	margin: 0 5px;
	border-radius: 3px;
}

.submit {
	width: 160px;
	height: 50px;
	font-size: 2rem;
	font-family: serif;
	background: silver;
	color: white;
	border-radius: 3px;
	margin-top: 30px;
	align-self: center;
	cursor: pointer;
	&:hover {
		opacity: 0.5;
	}
}
.tOS {
	font-size: 0.5rem;
	color: whitesmoke;
	a {
		color: green;
		text-decoration: none;
	}
}
@include breakpoint-down(medium) {
	#age-content {
		width: 90vw;
	}
}
