.blacklabel {
	background: oldlace;
	height: 70vh;
	position: relative;
}
.blpic {
	text-align: center;
	flex-direction: column;
	img {
		width: 95%;
		height: 50vh;
		box-shadow: 5px 2px 5px gray;
	}
	a {
		background: white;
		color: #2e366f;
		font-size: 2rem;
		font-weight: 700;
		margin-top: 25px;
		padding: 0 5px;
		border: 1px solid black;
		border-radius: 3px;
	}
}
.bltext {
	flex-direction: column;
	width: 50vw;
	span:first-of-type {
		font-size: 6.5rem;
		font-weight: 900;
		color: #666;
	}
	span:nth-child(2) {
		font-size: 2.5rem;
		font-weight: 700;
		padding-top: 30px;
	}
	span:last-of-type {
		max-width: 75%;
		font-size: 1.25rem;
		&:first-letter {
			font-size: 2.25rem;
			font-weight: 900;
		}
	}
}

@include breakpoint-down("large") {
	.bltext {
		span:first-of-type {
			font-size: 4.5rem;
		}
		span:nth-child(2) {
			font-size: 2.25rem;
		}
		span:last-of-type {
			font-size: 1.125rem;
			&::first-letter {
				font-size: 2.125rem;
			}
		}
	}
	.blpic {
		img {
			height: 50vh;
		}
	}
}
@include breakpoint-down("medium") {
	.bltext {
		span:first-of-type {
			font-size: 3.5rem;
		}
		span:nth-child(2) {
			font-size: 1.5rem;
		}
		span:last-of-type {
			font-size: 1rem;
			&::first-letter {
				font-size: 2rem;
			}
		}
	}
}
@include breakpoint-down("small") {
	.blacklabel {
		flex-direction: column;
	}
	.bltext {
		width: 90%;
		span:first-of-type {
			font-size: 2.5rem;
		}
		span:nth-child(2) {
			padding: 0;
		}
		span:last-of-type {
			font-size: 0.5rem;
			width: 80%;
			&::first-letter {
				font-size: 1rem;
			}
		}
	}
	.blpic {
		height: 50vh;
		img {
			width: 75%;
		}
		a {
			margin: 10px 0;
		}
	}
}
