.blueBG {
	height: 70vh;
	background-color: #eee;
	flex-direction: column;
	h1 {
		color: whitesmoke;
	}
}
.blackLabel {
	visibility: hidden;
	height: 100%;
	margin-right: 20px;
	> img {
		height: 75%;
	}
}
