.blueBG {
	background-color: #1a1a64;
	h1 {
		font-size: 70px;
		background-color: #eee;
		padding: 8px 24px;
		border-radius: 16px;
	}
}
.bottleClose {
	width: 600px;
	max-width: 100vw;
	height: 600px;
	max-height: 100vh;
	background-image: url(/app/img/glengoolie_barn.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
