.video-player {
	width: 100vw;
	height: 85vh;
}
.video-player video {
	min-width: 100%;
	position: fixed;
	top: -10;
	z-index: -999;
}
.hero-text {
	position: relative;
	max-width: 80vw;
	top: 0;
	right: 0;
	z-index: -3;
}
.oText {
	font-family: cursive;
	color: #daa520;
	font-size: 7rem;
	text-shadow: 1px 1px 3px black, 1px 1px 5px whitesmoke;
	z-index: -1;
}

@include breakpoint-down("medium") {
	.oText {
		font-size: 5rem;
		left: 12%;
	}
}
@include breakpoint-down("small") {
	.oText {
		font-size: 2rem;
		left: 5%;
	}
}
