.merch {
	background: whitesmoke;
	flex-direction: column;
	height: 70vh;
}
.carousel {
	position: relative;
	width: 50%;
	height: 65%;
	overflow: hidden;
	margin: 0;
	border: black solid 1px;
	.card {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		&.active {
			left: 0;
			transition: all 0.4 ease-out;
		}
		> img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
.merchpics {
	height: 65vh;
	flex-direction: column;
}
.glass {
	height: 25%;
	margin-bottom: 16px;
}
.shot {
	text-align: center;
	img {
		box-shadow: 3px 3px 10px #757cae;
		height: 100%;
	}
}
.shopnow {
	width: 300px;
	margin: 25px 0 0 12px;
	a {
		text-decoration: none;
		background: #2e366f;
		color: whitesmoke;
		box-shadow: 1px 7px 7px #757cae;
		font-size: 3rem;
		font-weight: 900;
		padding: 8px;
	}
}
.etched {
	text-align: center;
	img {
		box-shadow: -3px 3px 10px #757cae;
		height: 100%;
	}
}
@include breakpoint-down("large") {
	.shot,
	.etched {
		width: 27%;
	}
}
@include breakpoint-down("medium") {
	.shot {
		width: 22%;
	}
	.etched {
		width: 18%;
	}
}
@include breakpoint-down("small") {
	.carousel {
		width: 100%;
		height: 80%;
	}
	.shot {
		display: none;
	}
	.etched {
		display: none;
	}
}
